Package: com.lns.testflightnocrashalert
Name: TFNoCrashAlert
Version: 0.0.1
Architecture: iphoneos-arm
Description: Disable the "xx Crashed" alert that shows after an app which downloaded from TestFlight crashed.
Maintainer: Ruphane
Author: Ruphane
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
